# Ignore node_modules directories
**/node_modules
**/pnpm-store

# Ignore lock files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Ignore build directories
**/.next
**/dist
**/build

# Ignore environment variables
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Ignore logs
**/logs
**/*.log

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore miscellaneous
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/coverage
**/.vscode
**/.idea
**/.git
**/.gitignore
